NEXT_PUBLIC_CHAT_WIDGET_SRC=https://widget.soulesmartbusiness.com/loader.js
NEXT_PUBLIC_CHAT_WIDGET_SITE_KEY=Kunde 1
SMTP_HOST=smtp.ionos.de
SMTP_PORT=587
SMTP_USER=hello@soulesmartbusiness.com
SMTP_PASS=dein-passwort
SMTP_FROM=hello@soulesmartbusiness.com
CONTACT_TO_EMAIL=hello@soulesmartbusiness.com
